<form ng-submit="userNewController.saveUser()">
<!--   <div class="form-group">
    <label for="user-id">ID</label>
    <input ng-model="userNewController.newUser.id" type="id" class="form-control" id="user-id" placeholder="Enter ID Number">
  </div> -->
  <div class="form-group">
    <label for="user-username">Username</label>
    <input ng-model="userNewController.newUser.username" type="username" class="form-control" id="user-username" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="user-role">Example select</label>
    <select ng-model="userNewController.newUser.role" class="form-control" id="user-role">
      <option>user</option>
      <option>admin</option>
      <option>disabled</option>
    </select>
  </div>
 
  <button type="submit" class="btn btn-primary">Create</button>
</form>