<form ng-submit="postNewController.savePost()">
  <div class="form-group">
    <label for="post-title">Title</label>
    <input ng-model="postNewController.newPost.title" type="text" class="form-control" id="post-title">
  </div>
  <div class="form-group">
    <label for="post-content">Post</label>
    <textarea ng-model="postNewController.newPost.content" class="form-control" id="post-content" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="post-user">User</label>
    <select class="form-control" ng-model="postNewController.newPost.user_id" data-ng-options="user.user_id as user.username for user in postNewController.allUsers | orderBy: 'name'">
		<option value="">Select User</option>
	</select>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>